* {
	padding: 0;
	margin: 0;
	border: none;
}
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{
	display: block;
}

/*index.html*/

/*导航*/
header {
	position: relative;

	min-width: 980px;
	height: 80px;

	background-color: #2AD595;
}
.nav-content {
	position: relative;
	overflow: hidden;

	margin-left: auto;
	margin-right: auto;

	width: 980px;
}
.nav-logo {
	float: left;

	width: 80px;
	height: 80px;

	background-image: url("../img/icon-logo.png");
}
.nav-logo:hover {
	cursor: pointer;
}
.nav-menu {
	position: absolute;
	right: 0;
	bottom: 5px;

	list-style: none;
}
.nav-menu li {
	float: left;
	display: inline-block;

	padding-left: 28px;

	font: 14px 'Mircosoft YaHei',arial,serif;

	color: #FFF;
	cursor: pointer;

}
.nav-menu li:hover {
	color: #666;
}
.nav-icon {
	position: absolute;
	right: 10px;
	bottom: 0px;

	width: 30px;
	height: 34px;

	background-image: url("../img/icon-github.png");
}

@media (max-width: 1080px) {
	.nav-icon {
		display: none;
	}
}

#myframe{
	width: 100%;
	height: 500px;
}