*{
	margin: 0;
	padding: 0;
	font-family: 'Microsoft YaHei', arial, serif;
	list-style: none;
}

html,body {
	min-width: 960px;
	height: 100%;
}

.fa-fw{
	margin: 0 5px;
}

.fa-2x{
	line-height: 45px;
	font-size: 1.3em;
}

.todo-task-list > li:hover i.fa-remove,
span:hover i.fa-remove{
	display: block;
	color: #294B7C;
}
i.fa-remove{
	display: none;
	margin-top: 2px;
	line-height: inherit;
	float: right;
	cursor: pointer;
	z-index: 101;
}

dd i.fa-smile-o{
	float: right;
	line-height: inherit;
	margin-right: 30px;
}

label > i{
	margin-left: -33px;
	margin-right: 10px;
}

/*header*/

header{
	display: block;
	position: relative;
	width: 100%;
	height: 10%;
	min-height: 60px;
}

header a{
	position: absolute;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
	margin-left: 20px;
	background: url("../img/icon-logo.png");
}

header .todo-title{
	font-size: 1.8em;
	display: block;
	line-height: 60px;
	margin-left: 90px;
}

/*todo_container*/

.todo-container{
	position: relative;
	width: 100%;
	height: 90%;
	min-height: 450px;
	float: left;
}

/*todo_category*/

.todo-category,
.todo-inventory{
	position: relative;
	display: block;
	float: left;
	width: 22%;
	min-width: 250px;
	height: 100%;
	overflow: hidden;
	z-index: 99;
}

.todo-category > a,
.todo-inventory > a{
	position: absolute;
	bottom: 0;

	display: block;
	width: 100%;
	padding: 10px;

	cursor: pointer;
}

.todo-category-total{
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
	cursor: pointer;
}

.todo-category-detail{
	overflow: scroll;
	overflow-x: hidden;
	width: 105%;
	height: 82%;
	margin: 10px;
}
.todo-category-detail > span{
	height: 45px;
}

.todo-category-list{
	margin-top: 10px;
	width: 90%;
	display: block;
}
.todo-category-list > li > span{
	display: block;
	/*padding: 3px 0;*/
	height: 35px;
	line-height: 35px;
	z-index: 99;
	cursor: pointer;
}

.todo-category-list > li >span{
	display: block;
}

.todo-task-list{
	margin-left: 15px;
}

.todo-task-list > li{
	display: block;
	margin: 4px 0;
	padding: 2px 3px;
	width: 100%;
	z-index: 100;
	cursor: pointer;
}

/*todo_inventory*/
.todo-inventory-category{
	height: 45px;
	padding-left: 10px;
}
.todo-inventory-category > li{
	display: inline-block;
	margin-top: 10px;
	margin-right: 5px;
	cursor: pointer;
	padding: 3px 5px;
	border-radius: 3px;
}

.todo-inventory-detail{
	display: block;
	height: 82%;
	width: 110%;
	overflow: scroll;
	overflow-x: hidden;

}
.todo-inventory-detail > dt{
	display: block;
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
}
.todo-inventory-detail dd{
	display: block;
	height: 35px;
	line-height: 35px;
	padding-left: 20px;
	cursor: pointer;
}

/*todo_spec*/

.todo-spec{
	position: relative;
	display: block;
	margin-left: -56%;
	height: 100%;
}

.todo-spec-title{
	height: 45px;
	line-height: 45px;
	text-indent: 2em;
	z-index: 1;
}
.todo-spec-title > input,
.todo-spec-time > input{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 8%;
	background: transparent;
	border: none;
	outline: none;
}

.todo-spec-edit{
	position: absolute;
	right: 0;
	margin-right: 1em;
}
.todo-spec-edit > i{
	float: right;
	cursor: pointer;
}

.todo-spec-time{
	text-indent: 2em;
	height: 45px;
	line-height: 45px;
}


.todo-spec-content{
	overflow: hidden;
	height: 100%;
	margin-top: -90px;
}

.todo-spec-content > p{
	color: #E58193;
	margin-top: 90px;
	padding: 2em;
}

.todo-spec-content i{
	margin-right: 9px;
}

.todo-spec-content > textarea{
	font-size: 16px;
	padding-top: 1em;
	padding-left: 2em;
	resize: none;
	width: 580px;
	overflow-y: hidden;
	height: 300px;
	margin-top: 90px;
	border: none;
	outline: none;
}

/*addCatePanel*/
.add-cate-panel{
	display: none;
	width: 400px;
	height: 180px;
	padding: 10px;
	z-index: 999;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #333;
}
.add-cate-panel > h3{
	text-align: center;
	font-weight: 600;
	font-size: 1.4em;
	line-height: 2em;
	color: #294B7C;
}
.add-cate-panel ul{
	margin-top: 10px;
	margin-left: 60px;
}
.add-cate-panel li{
	padding: 5px;
}
.add-cate-panel label{
	display: inline;
	width: 100px;
	margin-right: 15px;
}
.add-cate-panel select,
.add-cate-panel input{
	border: none;
	outline: none;
	height: 20px;
	width: 155px;
	border-radius: 3px;
}
.add-cate-btn{
	margin-top: 18px;
	margin-left: 28%;
}
.add-cate-btn > span{
	display: inline-block;
	text-align: center;
	width: 75px;
	height: 27px;
	margin: 0 5px;
	line-height: 27px;
	border-radius: 3px;
	background-color: #294B7C;
	color: #FFF;
	cursor: pointer;
}
.add-cate-btn > span:hover{
	background-color: #FFF;
	color: #294B7C;
}
.add-cate-btn > span>i{
	margin-right: 6px;
}