*{
	margin: 0;
	padding: 0;
	font-family: 'Microsoft YaHei', arial, serif;
	list-style: none;
}

html,body {
	min-width: 960px;
	height: 100%;
}

.fa-fw{
	margin: 0 5px;
}

.fa-2x{
	line-height: 45px;
	font-size: 1.3em;
}

i.fa-remove{
	opacity: 0;
	line-height: 23px;
	float: right;
	color: #FFF;
}

i.fa-remove:hover{
	color: #294B7C;
}

i.fa-smile-o{
	float: right;
	line-height: inherit;
	margin-right: 30px;
}

label > i{
	margin-left: -33px;
	margin-right: 10px;
}

/*header*/

header{
	display: block;
	position: relative;
	width: 100%;
	height: 10%;
	min-height: 60px;
}

header a{
	position: absolute;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
	margin-left: 20px;
	background: url("../img/icon-logo.png");
}

header .todo-title{
	font-size: 1.8em;
	display: block;
	line-height: 60px;
	margin-left: 90px;
}

/*todo_container*/

.todo-container{
	width: 100%;
	height: 90%;
	min-height: 450px;
	float: left;
}

/*todo_category*/

.todo-category,
.todo-inventory{
	position: relative;
	display: block;
	float: left;
	width: 22%;
	min-width: 250px;
	height: 100%;
	overflow: hidden;
	z-index: 99;
}

.todo-category > a,
.todo-inventory > a{
	position: absolute;
	bottom: 0;

	display: block;
	width: 100%;
	padding: 10px;

	cursor: pointer;
}

.todo-category-total{
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}

.todo-category-detail{
	overflow: scroll;
	overflow-x: hidden;
	width: 105%;
	height: 82%;
	margin: 10px;
}

.todo-category-list{
	margin-top: 10px;
	width: 90%;
	display: block;
}
.todo-category-list > li{
	display: block;
	padding: 3px 0;
	margin-bottom: 5px;
	z-index: 99;
	cursor: pointer;
}

.todo-task-list{
	margin-left: 15px;
}

.todo-task-list > li{
	display: block;
	margin: 4px 0;
	padding: 2px 0;
	width: 100%;
	z-index: 100;
}

/*todo_inventory*/
.todo-inventory-category{
	height: 45px;
	padding-left: 10px;
}
.todo-inventory-category > li{
	display: inline-block;
	margin-top: 10px;
	margin-right: 5px;
	cursor: pointer;
	padding: 3px 5px;
	border-radius: 3px;
}

.todo-inventory-detail{
	display: block;
	height: 82%;
	width: 110%;
	overflow: scroll;
	overflow-x: hidden;

}
.todo-inventory-detail > dt{
	display: block;
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
}
.todo-inventory-detail dd{
	display: block;
	height: 35px;
	line-height: 35px;
	padding-left: 20px;
	cursor: pointer;
}

/*todo_spec*/

.todo-spec{
	position: relative;
	display: block;
	margin-left: -56%;
	height: 100%;
}

.todo-spec-title{
	height: 45px;
	line-height: 45px;
	text-indent: 2em;
	z-index: 1;
}
.todo-spec-title > input,
.todo-spec-time > input{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 8%;
	background: transparent;
	border: none;
	outline: none;
}

.todo-spec-edit{
	position: absolute;
	right: 0;
	margin-right: 1em;
}
.todo-spec-edit > i{
	float: right;
	cursor: pointer;
}

.todo-spec-time{
	text-indent: 2em;
	height: 45px;
	line-height: 45px;
}


.todo-spec-content{
	overflow: hidden;
	height: 100%;
	margin-top: -90px;
}

.todo-spec-content > p{
	color: #E58193;
	margin-top: 90px;
	padding-top: 2em;
	padding-left: 2em;
}

.todo-spec-content i{
	margin-right: 9px;
}

.todo-spec-content > textarea{
	font-size: 16px;
	padding-top: 1em;
	padding-left: 2em;
	resize: none;
	width: 580px;
	overflow-y: hidden;
	height: 90%;
	margin-top: 90px;
	border: none;
	outline: none;
}
