@media (min-width: 768px) {
    .todo-nav {
        display: none;
    } 
    .todo-start {
        display: none;
    }
}
@media (max-width: 768px){
    /*header content*/
    .todo-icon {
        margin-left: 38%;
    }
    .todo-title {
        margin-left: 48%;
    }
    /*header start*/
    .todo-start {
        display: block;
        height: 100%;
        padding-top: 32%;

        text-align: center;

        opacity: 1;
        z-index: 999999;

        -webkit-transition: height .4s ease-out, padding .8s ease, opacity 1s ease;
           -moz-transition: height .4s ease-out, padding .8s ease, opacity 1s ease;
            -ms-transition: height .4s ease-out, padding .8s ease, opacity 1s ease;
             -o-transition: height .4s ease-out, padding .8s ease, opacity 1s ease;
                transition: height .4s ease-out, padding .8s ease, opacity 1s ease;
    }
    .todo-start-icon {
        display: block;
        width: 114px;
        height: 114px;
        margin-left: 50%;
        transform: translateX(-50%);
        background-image: url(../img/todo.png);
    }
    .todo-start > h1{
        padding: 10px 2px;
        font-size: 1.8em;
    }
    .todo-start span{
        font-size: 1.1em;
    }

    .todo-container {
        height: 90%;
        min-height: 320px;
        overflow: hidden;
    }
    .todo-category,
    .todo-inventory,
    .todo-spec {
        display: inline-block;
        position: absolute;
    }
    /*todo-category*/
    .todo-task-list > li {
        width: 100%;
    }
    .remove-cate,
    .remove-list {
        margin-right: 2.5em;
    }
    /*todo-inventory*/
    dd .fa-smile-o {
        margin-right: 6em;
    }
    /*todo-spec*/
    .todo-spec-title,
    .todo-spec-time {
        height: 45px;
        line-height: 45px;
        text-indent: 1.5em;
    }
    .todo-spec-content > p {
        margin-top: 90px;
        padding: 1.2em;
        width: 90%;
    }

    /*新增按钮*/
    .todo-category > a,
    .todo-inventory > a {
        position: absolute;
        bottom: 54px;
        right: 18px;

        display: block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border-radius: 5px;
        z-index: 999999;

        -webkit-transform:rotate(45deg);
           -moz-transform:rotate(45deg);    
            -ms-transform:rotate(45deg);   
             -o-transform:rotate(45deg); 
                transform:rotate(45deg);

        cursor: pointer;
    }

    a > .fa-plus {
        margin: 1px 5px 20px 2px;

        -webkit-transform:rotate(-45deg);
           -moz-transform:rotate(-45deg);    
            -ms-transform:rotate(-45deg);   
             -o-transform:rotate(-45deg); 
                transform:rotate(-45deg);
    }
    
    /*菜单按钮*/
    .todo-nav {
        position: fixed;
        bottom: 0;

        display: block;
        width: 100%;
        height: 40px;

        background-color: rgba(255, 255, 255, .3);
        color: #DEF0F0;
    }
    .todo-nav ul {
        display: block;
        list-style: none;
        line-height: 40px;
        width: 225px;
        height: 40px;
        margin: 0 auto;

        border-top: 2px solid #7690B4;
    }
    .todo-nav-item {
        float: left;
        padding: 0 8px 0 2px;
        text-align: center;
        cursor: pointer;
    }

    #todo-nav-cates {
        color: #7690B4;
    }
    #todo-nav-inves {
        color: #EBB74C;
    }
    #todo-nav-tasks {
        color: #E8919F;
    }

    /*todo-spc*/
    .todo-spec-title > input,
    .todo-spec-time > input {
        width: 150px;
    }
    .todo-spec-content > textarea {
        width: 260px;
        height: 320px;
        overflow: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 640px){
    .todo-icon {
        margin-left: 25%;
    }
    .todo-title {
        margin-left: 45%;
    }
    /*todo-category*/
    .todo-task-list > li {
        width: 96%;
    }
    .remove-cate,
    .remove-list {
        margin-right: 1.8em;
    }
    /*todo-inventory*/
    dd .fa-smile-o {
        margin-right: 3em;
    }
}

@media (max-width: 450px){
    .add-cate-panel {
        width: 320px;
        height: 220px;
        padding: 0;
    }
    .add-cate-panel ul {
        margin-top: 10px;
        margin-left: 80px;
    }

    .add-cate-btn {
        margin-top: 18px;
        margin-left: 22%;
    }
    /*todo-category*/
    .todo-task-list > li {
        width: 95%;
    }
    .remove-cate,
    .remove-list {
        margin-right: 1.8em;
    }
    /*todo-spec*/
    .todo-spec-content > p {
        font-size: .9em;
    }
    .todo-category > a,
    .todo-inventory > a {
        bottom: 75px;
    }
}